

* {
    margin: 0px;
    padding: 0px;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    color: 1c1c1c;
    background-image: url(/imagens/fundo4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
   
}


 h2, h3{
    font-family: 'Asap', sans-serif;
}

#degrade {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(/imagens/fundo4.jpg);
    width: 45%;
    height: 90vh;
    margin-top: 2em;
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px outset  rgba(255, 255, 255, 0.548);
    border-radius: 5px;
}

#degrade header h1#perto {
    padding: 20px;
    color: rgb(235, 235, 235);
    font-family: 'Nunito', sans-serif;
    font-size: 2.8em;
    margin-bottom: -1em;
    
}
#degrade header h1 {
    padding: 20px;
    color:  rgb(235, 235, 235);
    font-family: 'Nunito', sans-serif;
    font-size: 2.8em;
    margin-bottom: 0.875em;
}

#info  input{
  margin-bottom: 4em;
  background-color: transparent;
  border-color: transparent ;
  border-bottom-color:#e9e9f0 ;
  color: rgb(241, 241, 241);
  margin-right: 2em;
}



  input#marquei {
    margin: auto;
    width: 58%;
    color:  rgb(241, 241, 241);
    border-color:#dcdcde ;
    background-color: transparent;
    padding: 10px;
    border-radius: 7px;
    font-weight: bolder;
    font-size: 1.2em;



}
input::placeholder{
    color: rgb(241, 241, 241) ;
}

input#marcar:hover{
    transform: translateY(-5px) translateX(-5px);
    transition: 0.5s;
}

h1#lado2{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    padding: 30px;
    margin-top: -1em;
    margin-bottom: 0em;}

h1#lado{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    padding: 30px;
    margin-top: 2.3em;
    margin-bottom: 0em;
}
h1#lado1{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: absolute;
    color: white;
    padding: 30px;
    top: 83%;

}








@media(min-width:768px){
   
   

   
}
@media(max-width:768px){

    body{
        background-color: #101dac; 
        background-image: none;
        
    }
    #degrade{
       
        width: 65%;
        height: 675px;
            
       
    }
    h1#lado2{
        font-size: 1.48em;
    }
    h1#lado1{
        font-size: 1.8em;
    }
 
  
}

@media(max-width: 500px) {
    #info  input{
        margin-right:0.5em;
        font-size: 1em;
        left: 14%;
        right: 7%;
    }
   
    #degrade header h1#perto{
        font-size: 2.3em;
        margin-bottom: -1.2em;
        
    }
    #degrade header h1{
        font-size: 2.3em      
}
}

@media (max-width: 400px) {
    #degrade{
        width: 80%;
        left: 9.5%;
    }
  
}

@media(min-width: 1200px){
    #degrade{
        height: 90vh;
    }
    #info form input {
        font-size: 1.3em;

    }
}



@media(min-width: 1100px) {
 
    #degrade h1#lado1{
        left: 6vw;
        right: 6vw;
         
    }
}