<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/agendamento.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<header>

    
    

    <nav>
        <span id="menu-hamburguer" class="material-symbols-outlined">
            menu </span>

        <div id="list">
            <ul class="nav nav-tabs">
            
              <li  role="presentation" ><a
                href="#">HOME</a></li>
              <li role="presentation"><a href="about.html">SOBRE</a></li>
              <li role="presentation"><a href="haircuts.html">SERVIÇOS</a></li>
              <li role="presentation"><a href="#">CONTATO</a></li>
              </ul>
        </div>
    </nav>
</header>

<section id="main">
    <div id="mainh1"> 
        <h1>AGENDAMENTO CONFIRMADO COM SUCESSO!</h1>
    </div>

    <div id="infos"> 
        <h4 >DIA: </h4> <p id="date-el">  </p><br>
        <h4 >HORÁRIO:</h4> <p id="time-el"> </p><br>
        <h4>SERVIÇO:</h4> <p  id="servico-el">  </p>
        


    </div>

    <div id="valor"> 
        <h4 >VALORES:</h4> <p id="value">  </p><br>
        <h4 >TOTAL:</h4> <p id="total-value">   </p>
        
    </div>

</section>
</body>
<script src="/js/confirmedController.js"></script>
<script src="/js/confirmedView.js"></script>
</html>