<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&family=Nunito:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/timeSchedule.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap" rel="stylesheet">
  


    <title></title>
    
</head>
<body>
    <nav>
        <ul class="nav nav-tabs">
           
            <li  role="presentation" class="active"><a style="color:   #f1b707;" href="#">HOME</a></li>
            <li role="presentation"><a href="about.html">SOBRE</a></li>
            <li role="presentation"><a href="haircuts.html">SERVIÇOS</a></li>
            <li role="presentation"><a href="#">CONTATO</a></li>
          </ul>
    </nav>
    
    <section id="image">
        <div id="blue"> <p>ESCOLHA SUA DATA E HORÁRIO</p></div>
    
    </section>
    
    
    
    <section id="horario">

        <input id="time-schedule" type="time">
        
        <input id="schedule" type="date">
        
    
    </section>
    
    <div id="botoes">
        <div id="botao-voltar"><a href="haircutType.html" > <span class="material-symbols-outlined" style="font-size: 68px;">
        arrow_circle_left
        </span></a> </div>
        
        <div id="botao-proximo"><a href="clientData.html" > <span class="material-symbols-outlined" style="font-size: 68px;">
            arrow_circle_right
            </span></a> </div>
    </div>


    

    
    
    

</body>
<script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-storage.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-database.js"></script>

<script src="/js/timeScheduleController.js"></script>
<script src="/js/timeScheduleView.js"></script>


</html>

