body{
    background-color: white;
    
}

li{
    font-size: 1.8em;
}

section#image{
    background-image: url(../imagens/fundo3.jpg);;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top:2px solid rgb(10, 81, 187) ;
    border-bottom:10px solid rgb(10, 81, 187) ;
    height: 55vh;
    padding: 20px 20px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: end;
   
}

div#blue{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(10, 81, 187);
    color: rgb(240, 240, 240);
    width:185px;
    height: 70px;
    padding: 0.5em;
    border-radius: 13px;
    font-weight: bolder;
    margin-bottom: -2em;
}

div#blue p {
    font-size: 1.4em;
}

section#servicos{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

div#servicos-filho{
    display: flex;
    justify-content: center;
    gap: 1em 3em;
    flex-wrap: wrap;
   

}

h2{
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.4em;
    
}

#botao{
     position: absolute;
     bottom: 2em;
     right: 4em;
}

button.btn{
    background-color: white;
    color:  rgb(10, 81, 187);
    border-radius: 15px;
    padding: 0.5em 2.5em;
}

button.btn:hover{
    background-color:  rgb(10, 81, 187);
}

