body{
    background-color: white;
    height: 100vh;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}

li{
    font-size: 1.8em;
}

section#image{
    background-image: url(../imagens/fundo3.jpg);;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top:2px solid rgb(6, 67, 157);
    border-bottom:10px solid rgb(6, 67, 157) ;
    height: 50vh;
    padding: 20px 20px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: end;
   
}

div#blue{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:  rgb(6, 67, 157);
    color: rgb(240, 240, 240);
    width:185px;
    height: 70px;
    padding: 0.5em;
    border-radius: 13px;
    font-weight: bolder;
    margin-bottom: -2.5em;
}

div#blue p {
    font-size: 1.4em;
}

section#servicos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.3em;
    
}

div#servicos-filho{
    display: flex;
    justify-content: center;
    gap: 1em 3em;
    flex-wrap: wrap;
    width: 95%;
}

h2{
    text-align: center;
    margin-top: 1.6em;
    margin-bottom: 1.4em;
    font-size: 30px;
    
}
div#botoes{
    display: flex;
    justify-content: flex-end;
    bottom: 10px;
}

#botao-proximo{
    display: flex;
    margin-right: 1em;
}

#botao-voltar{
    display: flex;
    margin-left: 1em;
}

button.btn{
    background-color: white;
    color:   rgb(6, 67, 157);
    border-radius: 15px;
    padding: 0.5em 2.5em;
    width: 200px;
}

button.btn:hover{
    background-color:   rgb(6, 67, 157);
}

a {
   color:  rgb(6, 67, 157);
}

footer{
    background-color:  rgb(6, 67, 157);
    bottom: 0px;

}

@media (min-height: 850px ) {

    h2{
        text-align: center;
        margin-top: 2.6em;
        margin-bottom: 1.8em;
        font-size: 30px;
        
    }

    section#servicos{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4em;
        
    }
    
}