
*{
    margin: 0px;
    padding: 0px;
    
}

body{
    font-family: 'Nunito', sans-serif;
    color: 1c1c1c;
}

h1, h2, h3{
    font-family: 'Asap', sans-serif;
}


nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:rgba(255, 255, 255, 0.149);
    padding: 12px;
    margin-bottom: 18vh;
    width: 98.2%;
}

nav a{
    text-decoration: none;
    color:white;
    font-family: YellowTail, sans-serif;
    font-size: 3.2em;
    font-weight: 800;
    padding-bottom: 0.4em;
}
nav ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
    width: 100%;
}
nav ul li {
    text-align: center;
    width: 100%;
}
nav ul li a {
    display:inline-block;
    padding: 14px 0;
    width: 100%;
    text-decoration: none;
    color:white;
    font-size: 1.5em;
    font-family: Nunito, sans-serif;
}


header{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../imagens/fundo3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    padding: 0px 0px 20px 0px;
    color: white;
    text-align: center;
}

section#topo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;


}

#topo p {
    font-size: 1.4em;
    margin: 1.8em 0em 2.6em 0em;
    max-width: 1000px;
    
}

#topo h1 {
    font-size: 4.7em;
    color:#fffffff8;

}

#topo a.agendamento{
    color:rgb(9, 9, 9);
    text-decoration: none;
    font-size: 2em;
    background-color:#f5b802f8;
    padding: 14px 42px;
    border-radius: 25px;
    border: 1px solid black;
}




#comandos a {
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px 30px;
    background-color: white;
    color: rgb(73, 73, 73);
    margin: 1em;
    border-radius: 5px;
    margin: 3.5em;
}

#comandos  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    margin: 0.4em 0em 2em 0em;
    
   
}



#cortes  {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em 0em 0.5em 0em;
    font-size: 2.5em;
    margin: 1.5em 0px;
    gap: 10px;
    overflow-x: auto;

}

#cortes::-webkit-scrollbar{
    display: none;
    scroll-behavior: smooth;
    
}



#cortes-title {
    text-align: center;
    margin-top: 2em;
    font-size: 3em;

}

#cortes img{
    width: 100%;
    height: 300px;
    max-width: 768px;
    text-align: center;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.76);
    border: 0.08px solid black;
}   

div#container{
    display: flex;
    align-items: center;
    max-width: 640px;

}


#anterior-foto,
#proxima-foto{
  
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    color: #fff;
    transition: all 400ms ease-in-out;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.6;
    cursor: pointer;
    border: none;
    height: 300px;

}

#anterior-foto:hover,
#proxima-foto:hover {
  opacity: 1;
}

.botoes-fotos{
    display: flex;
    justify-content: space-around;
    gap: 8em;
    text-align: center;


}


.botoes-fotos button{
    background-color: transparent;
    border: none;
    color: #f5b802f8;
   

}

section#galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../imagens/fundogaleria2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:#fffffff8;
    padding: 5em 1em;
    height: 90vh;

}

section#galeria h1{
    font-size: 4em;
}


#contato{
    display: flex;
    height: 90vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(12, 12, 12);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 2em 1em;
 
    
    
}

#contato h2{
   
    font-size: 3.5em;
    margin-bottom: 0.4em;
}

#contato a {
    text-decoration: none;
    color: rgb(77, 77, 77);
    padding: 0px 10px;
    font-size: 1.3em;
    background-color: white;
    border-radius: 3px;
   
 
}

div#iframeloc{

margin-right: 4vw;

}
iframe{
 
    box-shadow: 3px 3px 16px black;
}

#contatoicons{
    
    display: flex;
    flex-direction: column;
    background-image: url(../imagens/fundogaleria2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 1em
    
    }

#contatoicons p a {
    background-color: transparent;
    color:white;
    font-size: 18px;
    
}



#contatoicons p {
   color:white;
   font-size: 18px;
   padding: 0.8em 0.8em 0.8em 0.6em;
}

div.divicon{
    display: flex;
    
    padding: 1em 0em;
}


#contatotitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
   

}



footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:  rgb(12, 12, 12);
    padding: 1em;
    color:#ebb209f8;
    font-family: Arial, Helvetica, sans-serif;
    
}

footer a {
    text-decoration: none;
    color: white;
}

.item{
    transition: all 600ms ease-in-out;
    opacity: 0.5;
}

.selected{
    opacity: 1;
}


.hide{
    display: none;
}




@media (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: center;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
        width: 70%;
    }

   
    
   

    #contatoreal{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        
    }

    #contatoreal div{
        align-items: center;
        justify-content: center;
        text-align: center;
        
     
    }
  

    #contatoreal div p {
        margin-bottom: 0.5em;
    }
    #contatoreal p {
        margin-right: 2em;
    }

}
@media (max-width: 800px){

    nav{
        margin-bottom: 3em;
    }

    #contatoreal{
        padding: 2.4em;
    }

    #topo h1{
        font-size: 3em;
    }
    #topo p{
        font-size: 1em;
    }
    
    #topo a.agendamento{
        font-size: 1.2em;
    }
   
    
}



@media (max-width: 1018px) {
    #contatoreal{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 2.5em 3em 3em 3em;
        }
    #contatoreal p {
    margin-bottom: 3em;
    }
}


@media (max-width: 580px ) {

   header{
    height: auto;

   }

   iframe{
    width: 81vw;

   }

   #contatoicons p a {
    font-size: 3vw;
   }

   #contatoicons p {
    font-size: 3vw;
   }
    
    }

@media (max-width: 350px ) {

        body{
            width: 172%;
        }
        
        #topo p {
            font-size: 1.1em;
        }

        #topo h1 {
            font-size: 2.5em;
        }

        #contatoicons p a {
            font-size: 12px;
           }
        
           #contatoicons p {
            font-size: 12px;
           }
           iframe{
            width: 300px;
           }

    }

@media (max-width: 920px ) {


    #contato{
        flex-direction: column;
        height: 670px;
        
    }

    div#iframeloc {
        margin-right: 0em;
    }
    iframe{
        height: 260px;
        box-shadow: 3px 3px 16px black;
    }
    #contatoicons{
        padding: 0.7em 1.3em;
        margin-top: 4.2vh;

    }
    div.divicon{

        font-size: 13px;
    }
    
}




/* last functions do site 