
*{
    margin: 0px;
    padding: 0px;
    
}

body{
    font-family: 'Nunito', sans-serif;
    color: 1c1c1c;
}

h1, h2, h3{
    font-family: 'Asap', sans-serif;
}


nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 15px;
}

nav a{
    text-decoration: none;
    color: #191970;
    font-family: YellowTail, sans-serif;
    font-size: 3.2em;
    font-weight: 800;
    padding-bottom: 0.4em;
}
nav ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
    width: 100%;
}
nav ul li {
    text-align: center;
    width: 100%;
}
nav ul li a {
    display:inline-block;
    padding: 14px 0;
    width: 100%;
    text-decoration: none;
    color:#191970;
    font-size: 1.5em;
    font-family: Nunito, sans-serif;
}


header#topo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../imagens/fundo3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
    height: 580px;
    padding: 20px;
    color: white;
    text-align: center;
}

#topo p {
    font-size: 1.4em;
    margin: 1em 0em 1.7em 0em;
    max-width: 1000px;
    
}

#topo h1 {
    font-size: 4.7em;
}

#topo a{
    color: white;
    text-decoration: none;
    font-size: 1.8em;
    background-color: #191970;
    padding: 12px 35px;
    
    border-radius: 5px;
}




#comandos a {
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px 30px;
    background-color: white;
    color: rgb(73, 73, 73);
    margin: 1em;
    border-radius: 5px;
    margin: 3.5em;
}

#comandos  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    margin: 0.4em 0em 2em 0em;
    
   
}

#mudança iframe{
    width: 50vw;
    height: 800px;
    padding: 0px;
}

#cortes  {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5em 0em 3em 0em;
    font-size: 2.5em;
    margin: 0.8em;
    
}
#cortes-title {
    text-align: center;
    margin-top: 2em;
    font-size: 3em;

}

#cortes img{
    width: 100%;
    height: 300px;
    max-width: 768px;
    text-align: center;
    border: 3px solid #1e1e85;
}   

section#galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: #191970;
    padding: 3em 1em;

}


#contato{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url(../imagens/depositphotos_357465560-stock-photo-on-a-black-surface-are.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 4em 1em;
    
    
}

#contato h2{
   
    font-size: 3.5em;
    margin-bottom: 0.4em;
}

#contato a {
    text-decoration: none;
    color: rgb(77, 77, 77);
    padding: 0px 10px;
    font-size: 1.3em;
    background-color: white;
    border-radius: 3px;
   
 
}

div#iframeloc{

margin-right: 2em;

}

#contatoicons{
    display: flex;
    flex-direction: column;
    
    }

#contatoicons p a {
    background-color: transparent;
    color: white;
    font-size: 18px;
    
}

#contatoicons p {
   color: white;
   font-size: 18px;
   padding: 0.8em 0.8em 0.8em 0.6em;
}

div.divicon{
    display: flex;
    justify-content: row;
    padding: 1em 0em;
}


#contatotitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
   

}



footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 1em;
    color: #191970;
    
}

footer a {
    text-decoration: none;
    color: white;
}




@media (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: center;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
        width: 70%;
    }

    header{  
        height: 600px;
        height: 60vh;
        justify-content: center;
        
    }
    
   

    #contatoreal{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        
    }

    #contatoreal div{
        align-items: center;
        justify-content: center;
        text-align: center;
        
     
    }
  

    #contatoreal div p {
        margin-bottom: 0.5em;
    }
    #contatoreal p {
        margin-right: 2em;
    }

}
@media (max-width: 791px){
    #contatoreal{
        padding: 2.4em;
    }

    #topo h1{
        font-size: 3em;
    }
   
    
}



@media (max-width: 1018px) {
    #contatoreal{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 2.5em 3em 3em 3em;
        }
    #contatoreal p {
    margin-bottom: 3em;
    }
}



@media (max-width: 530px ) {

    body{
        width: 144%;
    }
    
    }

@media (max-width: 350px ) {

        body{
            width: 172%;
        }
        
        #topo p {
            font-size: 1.1em;
        }

        #topo h1 {
            font-size: 2.5em;
        }

    }

@media (max-width: 920px ) {


    #contato{
        flex-direction: column;
    }
    
}




/* last functions do site 