body{
    background-color: white;
    height: 100vh;
    
}
*{
    font-family: 'Barlow Semi Condensed', sans-serif;
}

li{
    font-size: 1.8em;
}

section#image{
    background-image: url(../imagens/fundomain.jpg);;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top:2px solid  #f1b707;
    border-bottom:10px solid  #f1b707 ;
    height: 50vh;
    padding: 20px 20px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: end;
   
}

div#blue{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:   #f1b707;
    color: rgb(25, 25, 25);
    width:185px;
    height: 70px;
    padding: 0.5em;
    border-radius: 13px;
    font-weight: bolder;
    margin-bottom: -2.5em;
}

div#blue p {
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}

section#horario-box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

section#horario{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(244, 244, 244);
    margin-top: 5em;
    border: 1px solid black;
    border-radius: 20px;
    height: 250px;
    width: 300px;
    padding: 0.5em;
}

#horario input{

    font-size: 2em;
    background-color: transparent;
    border: none;
}

#horario div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;
}

#horario button{
   
    border: none;
    border-radius: 15px;
    font-size: 2em;
    display: flex;
    margin-right: 5px;
    
}




section#servicos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    
}

div#servicos-filho{
    display: flex;
    justify-content: center;
    gap: 1em 3em;
    flex-wrap: wrap;
    width: 80%;
   

}

h2{
    text-align: center;
    margin-top: 1.6em;
    margin-bottom: 1.4em;
    font-size: 30px;
    
}
div#botoes{
    display: flex;
    justify-content: space-between;
}

#botao-proximo{
    display: flex;
    margin-right: 1em;
}

#botao-voltar{
    display: flex;
    margin-left: 1em;
}

button.btn{
    background-color: white;
    color:    #f1b707;
    border-radius: 15px;
    padding: 0.5em 2.5em;
    width: 200px;
}

button.btn:hover{
    background-color:    #f1b707;
}

a {
   color:   #f1b707;
}

a:focus, a:hover{
    color: rgba(176, 175, 175, 0.73) ;
}



@media (min-height: 850px ) {

    h2{
        text-align: center;
        margin-top: 2.6em;
        margin-bottom: 1.8em;
        font-size: 30px;
        
    }

    section#servicos{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4em;
        
    }
    
}